<!doctype html>
<html>
  <head>
    <title>Factor Graph</title>
    <link href="static/css/lib/vis-network.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"> -->
    <link rel="shortcut icon" href='static/img/favicon.ico'>
  </head>
  <body>
    <div id="chat">
      <div id="chat_log"></div>
      <input id="chat_input" type="text" />
    </div>

    <p>
      Create a simple network with some nodes and edges.
    </p>

    <div id="mynetwork"></div>

    <div id="displacy"></div>

  </body>
</html>

<script src="static/js/lib/socket.io.js"></script>
<script src="static/js/lib/displacy.js"></script>
<script type="text/javascript" src="static/js/lib/vis-network.min.js"></script>
<script type="text/javascript" src="static/js/factorGraph.js"></script>
<script type=text/javascript>

  window.onload = function(){
  	window.chat = new Chat();
  };
</script>
